<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>---</title>
    <link rel="icon" type="image/x-icon" href="static\fotos\Logo (1).svg">

</head>

<body>
    <div class="header">
        <div class="header-left">
            <h1>---</h1>
            <p id="folio-header">HB-...</p>
        </div>
        <div class="metso-logo">Metso</div>
    </div>
    <div class="container">
        <a href="/chinalco" class="btn-back">← Volver al inicio</a>

        <div class="card">
            {% for e in equipos %}
            <a class="btn-chancadora {% if e[0] == sel %}activo{% endif %}" href="/chinalco_graf?equipo={{ e[0] }}">{{
                e[0] }}</a>
            {% endfor %}
        </div>
        <div class="card">
            {% for i in range(1, ttdt + 1) %}
            <div class="card-title"> {{ title[i] }} </div>
            <div class="chart" id="C{{ i }}"></div>
            {% endfor %}
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/echarts@6.1.0/dist/echarts.min.js"></script>
    <script>

        const registros = {{ registros | tojson }};
        const ttdt = {{ ttdt }};

        window.registros = registros;
        window.ttdt = ttdt;

        for (let i = 0; i < ttdt; i++) {
            console.log(i)
            const fecha = registros.map(r =>
                new Date(r[1]).toLocaleDateString('es-PE')
            );

            const tempmr = registros.map(r => r[i + 3]);

            const option = {
                xAxis: {
                    type: 'category',
                    data: fecha
                },

                yAxis: {
                    type: 'value'
                },

                series: [
                    {
                        data: tempmr,
                        type: 'line',
                        smooth: true,

                        markArea: {
                            silent: true,

                            data: [
                                [
                                    {
                                        yAxis: 65,
                                        itemStyle: {
                                            color: 'rgba(255, 0, 0, 0.2)'
                                        }
                                    },
                                    {
                                        yAxis: 1000
                                    }
                                ]
                            ]
                        },

                        markLine: {
                            data: [
                                {
                                    yAxis: 65
                                }
                            ]
                        }
                    }
                ],

                dataZoom: [
                    {
                        type: 'slider',
                        xAxisIndex: 'all',
                        left: '10%',
                        right: '10%',
                        bottom: 30,
                        height: 30,
                        throttle: 120
                    },
                    {
                        type: 'inside',
                        xAxisIndex: 'all',
                        throttle: 120
                    }
                ],

                tooltip: {
                    trigger: 'axis'
                }
            };

            const elemento = document.getElementById("C" + i);

            if (elemento) {
                const chart = echarts.init(elemento);
                chart.setOption(option);
            }
        }

    </script>

</body>

</html>